# Project place file
/DungeonBlox.rbxlx

# Roblox Studio lock files
/*.rbxlx.lock
/*.rbxl.lock

sourcemap.json

# Wally packages (added when wally install is run for React Lua phase)
Packages/

# aftman binary cache
.aftman/
